<a href="https://colab.research.google.com/github/ssrbazpur/Data-Science/blob/master/PySpark_Installation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://apache.osuosl.org/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz
!tar xf spark-2.4.4-bin-hadoop2.7.tgz
!pip install -q findspark

In [0]:

# 2. Setup Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.4-bin-hadoop2.7"

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [0]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(spark)

In [0]:
df = sqlContext.read.parquet('/content/drive/My Drive/Data Science/X.parquet')

In [13]:
df.head()

Row(daynumber=17, Lat=0.0, Lon=0.0, temp=22.3, rain_drizzle='0', index=0)

In [0]:
df = spark.read.parquet('/content/drive/My Drive/Data Science/X.parquet')

In [15]:
df.head()

Row(daynumber=17, Lat=0.0, Lon=0.0, temp=22.3, rain_drizzle='0', index=0)

In [17]:
df.show()

+---------+------------------+------------------+----+------------+-----+
|daynumber|               Lat|               Lon|temp|rain_drizzle|index|
+---------+------------------+------------------+----+------------+-----+
|       17|               0.0|               0.0|22.3|           0|    0|
|       17|30.191471099853516|-81.36400604248047|22.3|           0|    1|
|       17| 30.58965492248535| -77.9579849243164|22.3|           0|    2|
|       17|33.127784729003906|-81.87212371826172|22.3|           0|    3|
|       17|37.511634826660156|-65.93009948730469|22.3|           0|    4|
|       17| 37.60248565673828|-66.46271514892578|22.3|           0|    5|
|       17| 39.99489212036133|-73.35973358154297|22.3|           0|    6|
|       17|40.251033782958984|-74.13121032714844|22.3|           0|    7|
|       17|40.298744201660156|-75.01472473144531|22.3|           0|    8|
|       17|40.439109802246094| -74.5289077758789|22.3|           0|    9|
|       17|40.519046783447266|-74.26085662841797|22.3|           0|   10|
|       17| 40.52682113647461|-74.40718841552734|22.3|           0|   11|
|       17|40.559730529785156|-73.93000793457031|22.3|           0|   12|
|       17|40.573326110839844|-73.98957824707031|22.3|           0|   13|
|       17|40.574459075927734|-74.11561584472656|22.3|           0|   14|
|       17| 40.57609939575195|         -73.96875|22.3|           0|   15|
|       17|  40.5777587890625|-73.95572662353516|22.3|           0|   16|
|       17| 40.57871627807617| -73.9856185913086|22.3|           0|   17|
|       17| 40.57888412475586|-73.96548461914062|22.3|           0|   18|
|       17|40.579872131347656|-73.97533416748047|22.3|           0|   19|
+---------+------------------+------------------+----+------------+-----+
only showing top 20 rows