<a href="https://colab.research.google.com/github/ssrbazpur/Data-Science/blob/master/Test_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

# import pandas as pd 
import pandas as pd 
  
# list of strings 
lst = ['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks'] 
  
# list of int 
lst2 = [11, 22, 33, 44, 55, 66, 77] 

  
# Calling DataFrame constructor after zipping 
# both lists, with columns specified 
df = pd.DataFrame(list(zip(lst, lst2)), 
               columns =['Name', 'val']) 
df

     Name  val
0   Geeks   11
1     For   22
2   Geeks   33
3      is   44
4  portal   55
5     for   66
6   Geeks   77

In [0]:
first=[]
for i in range(0,264):
  first.append(i)

In [0]:
from datetime import datetime
second1=datetime.today().timetuple().tm_yday
second=[]
for i in range(second1,second1+7):
  second.append(i)

In [10]:
second

[40, 41, 42, 43, 44, 45, 46]

In [6]:
datetime.today().weekday()

6

In [0]:
third1=datetime.today().hour
third=[]
for i in range(third1,third1+24):
  third.append(i%24)

In [0]:
third

In [19]:
datetime.today()

datetime.datetime(2020, 2, 9, 2, 53, 54, 640557)

In [0]:
four=[]
fourth=datetime.today().weekday()
for i in range(fourth,fourth+7):
  four.append(i%7)

In [25]:
four

[6, 0, 1, 2, 3, 4, 5]

In [47]:

# import pandas as pd 
import pandas as pd 
  
# list of strings 
lst = ['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks'] 
  
# list of int 
lst2 = [11, 22, 33, 44, 55, 66, 77] 

  
# Calling DataFrame constructor after zipping 
# both lists, with columns specified 
df = pd.DataFrame(list(zip(l2, l3,l4,l5)), 
               columns =['Zone', 'DayNumber','Hour','DayofwEEK']) 
df

       Zone  DayNumber  Hour  DayofwEEK
0         0         40     2          6
1         1         41     3          0
2         2         42     4          1
3         3         43     5          2
4         4         44     6          3
...     ...        ...   ...        ...
44179    91         42    21          1
44180    92         43    22          2
44181    93         44    23          3
44182    94         45     0          4
44183    95         46     1          5

[44184 rows x 4 columns]

In [53]:
df.sort_values('Zone').head(169)

       Zone  DayNumber  Hour  DayofwEEK
0         0         40     2          6
34056     0         41     2          0
5808      0         45     2          4
34320     0         46     2          5
34584     0         44     2          3
...     ...        ...   ...        ...
26136     0         45     2          4
26400     0         43     2          2
44088     0         42     2          1
16104     0         44     2          3
39865     1         40     3          6

[169 rows x 4 columns]

In [0]:
l2=first*7*24

In [0]:
l2

In [0]:
l3=second*263*24

In [0]:
l4=third*263*7

In [0]:
l5=four*263*24

In [55]:
df.shape

(44184, 4)

In [0]:
def get_weather_data(url):
    session = requests.Session()
    session.headers['User-Agent'] = USER_AGENT
    session.headers['Accept-Language'] = LANGUAGE
    session.headers['Content-Language'] = LANGUAGE
    html = session.get(url)
    # create a new soup
    soup = bs(html.text, "html.parser")
    # store all results on this dictionary
    result = {}
    # extract region
    result['region'] = soup.find("div", attrs={"id": "wob_loc"}).text
    # extract temperature now
    result['temp_now'] = soup.find("span", attrs={"id": "wob_tm"}).text
    # get the day and hour now
    result['dayhour'] = soup.find("div", attrs={"id": "wob_dts"}).text
    
    # get the actual weather
    result['weather_now'] = soup.find("span", attrs={"id": "wob_dc"}).text
    # get the precipitation
    result['precipitation'] = soup.find("span", attrs={"id": "wob_pp"}).text
    # get the % of humidity
    result['humidity'] = soup.find("span", attrs={"id": "wob_hm"}).text
    # extract the wind
    result['wind'] = soup.find("span", attrs={"id": "wob_ws"}).text
    # get next few days' weather
    next_days = []
    days = soup.find("div", attrs={"id": "wob_dp"})
    for day in days.findAll("div", attrs={"class": "wob_df"}):
        # extract the name of the day
        day_name = day.find("div", attrs={"class": "vk_lgy"}).attrs['aria-label']
        # get weather status for that day
        weather = day.find("img").attrs["alt"]
        temp = day.findAll("span", {"class": "wob_t"})
        # maximum temparature in Celsius, use temp[1].text if you want fahrenheit
        max_temp = temp[1].text
        # minimum temparature in Celsius, use temp[3].text if you want fahrenheit
        min_temp = temp[3].text
        next_days.append({"name": day_name, "weather": weather, "max_temp": max_temp, "min_temp": min_temp})
    # append to result
    result['next_days'] = next_days
    return result

In [0]:
from bs4 import BeautifulSoup as bs
import requests

In [0]:
USER_AGENT = "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/44.0.2403.157 Safari/537.36"
# US english
LANGUAGE = "en-US,en;q=0.5"

In [0]:
region="New York"
URL="https://www.google.com/search?lr=lang_en&ie=UTF-8&q=weather"
URL += region
# get data
data = get_weather_data(URL)
print(data['dayhour'])
b1=data['dayhour']
max1=[]
min1=[]
a=b1.split(" ", 1)
b1=a[0]
if b1=='Saturday':
      week=6
elif b1=='Friday':
      week=5
elif b1=='Thursday':
      week=4
elif b1=='Wednesday':
      week=3
elif b1=='Tuesday':
      week=2
elif b1=='Monday':
      week=1
else:
      week=0
for dayweather in data["next_days"]:
    
    min1.append(dayweather['min_temp'])
    max1.append(dayweather['max_temp'])
    print(dayweather['max_temp'])
    print("="*40, dayweather["name"], "="*40)
    print("Description:", dayweather)

In [63]:
min1

['0', '6', '6', '2', '4', '-1', '-6', '-1']

In [64]:
max1

['5', '8', '9', '8', '8', '13', '1', '1']

In [0]:
result1=[]
result2=[]
for value in df["DayofwEEK"]: 
  
    if value == (week %7): 
        result1.append(min1[0]) 
        result2.append(max1[0]) 
    elif value == (week+1) %7 : 
        result1.append(min1[1]) 
        result2.append(max1[1])  
    elif value == (week+2) %7 : 
        result1.append(min1[2]) 
        result2.append(max1[2]) 
    elif value == (week+3) %7 : 
        result1.append(min1[3]) 
        result2.append(max1[3]) 
    elif value == (week+4) %7 : 
        result1.append(min1[4]) 
        result2.append(max1[4])
    elif value == (week+5) %7 : 
        result1.append(min1[5]) 
        result2.append(max1[5]) 
    elif value == (week+6) %7 : 
        result1.append(min1[6]) 
        result2.append(max1[6])  
    else: 
        result.append("Fail")

In [72]:
type(b1)

str

In [80]:
week

6

In [78]:
a

['Saturday', '10:00 PM']

In [81]:
df.shape

(44184, 4)

In [0]:
df["min"] = result1
df["max"]=result2

In [87]:
df.head()

   Zone  DayNumber  Hour  DayofwEEK min max
0     0         40     2          6   0   5
1     1         41     3          0   6   8
2     2         42     4          1   6   9
3     3         43     5          2   2   8
4     4         44     6          3   4   8

In [0]:
rain=[0]

In [0]:
rain=[]
for i in range(0,44184):
  rain.append(0)

In [0]:
df["rain"]=rain

In [91]:
df.head()

   Zone  DayNumber  Hour  DayofwEEK min max  rain
0     0         40     2          6   0   5     0
1     1         41     3          0   6   8     0
2     2         42     4          1   6   9     0
3     3         43     5          2   2   8     0
4     4         44     6          3   4   8     0

In [0]:
from sklearn.ensemble import RandomForestRegressor
import pickle

In [95]:
model = pickle.load(open('/content/drive/My Drive/Data Science/modelfinal2.pkl', 'rb'),encoding='latin1')

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.ensemble.forest module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.ensemble. Anything that cannot be imported from sklearn.ensemble is now part of the private API.
  warnings.warn(message, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.tree.tree module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.tree. Anything that cannot be imported from sklearn.tree is now part of the private API.
  warnings.warn(message, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:318: UserWarning: Trying to unpickle estimator DecisionTreeRegressor from version 0.20.3 when using version 0.22.1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:318: UserWarning: Trying to unpickle estimator RandomForestRegressor from version 0.20.3 when using version 0.22.1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

In [0]:
ans=model.predict(df)

In [99]:
max(ans)

999.4

In [0]:
df['ans']=ans

In [101]:
df.head()

   Zone  DayNumber  Hour  DayofwEEK min max  rain   ans
0     0         40     2          6   0   5     0   0.1
1     1         41     3          0   6   8     0   0.3
2     2         42     4          1   6   9     0   0.0
3     3         43     5          2   2   8     0   0.8
4     4         44     6          3   4   8     0  10.1